body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

body {
    padding-top: 20px;
    padding-bottom: 0px;
}

.navbar {
    margin-bottom: 20px;
}

.tab-pane {
    padding-top: 10px;
}

.panel-heading-no-bottom-border {
    border-bottom: 0px;
}

.panel-title {
    text-align: center;
}

.panel-body-no-padding {
    padding: 0px;
}

.table {
    margin-bottom: 0px;
}

#program-counter,
div[id^="register-"], div[id*=" register-"],
div[id^="condition-"], div[id*=" condition-"] {
    text-align: center;
}

#code,
#log {
    table-layout: fixed;
}

    #code tbody {
        display: block;
        max-height: 388px;
        overflow: auto;
        width: 100%;
    }

    #code td:nth-child(1) {
        width: 76px;
    }

    #code td:nth-child(2) {
        width: 160px;
    }

    #code td:nth-child(3) {
        width: 76px;
    }

    #code td:nth-child(4) {
        width: 70px;
    }

    #code td:nth-child(5) {
        width: 59px;
    }

    #code td:nth-child(6) {
        width: 500px;
    }

    #log tbody {
        display: block;
        height: 300px;
        overflow: auto;
        width: 100%;
    }

    #log td,
    #log tr {
        display: block;
    }

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#program-counter {
    padding: 15px 0px;
}

#sourcecodetab {
    height: 457px;
}

#sourcecode {
    width: 100%;
    height: 415px;
}

#message {
    display: none;
}
